$bg-color: #fafafa !default;
$canvas-bg-color: #ffffff !default;

$gray-color: #dddddd;
$fa-color: black;
$fa-hover-color: #555555;

$footer-color: #A3B5C2;
$footer-link-color: #627379;
$footer-link-color-hover: black;