@charset "UTF-8";

@import "variables";

html, body {
    background-color: $bg-color;
}

.btn.upload {
    position: relative;
    overflow: hidden;
}

.btn.upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom : 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

canvas {
      background-color: $canvas-bg-color; 
      width: 100%;
      height: auto;
}